:root {
	--blue-default: #5DADEC;
	--hover-blue: #1250c2;
	--dark-blue: #1833cc;
	--green-market: #b6d048;
	--dark-green: #9eb53e;
	--yellow: #f6d553;
	--purple: #8c60c5;
	--pink: #f9879c;
	--white: #fff;
	--dark-gray: #3e3e3e;
	--text: #717171;
	--title: #1a1a1a;
	--border: #dcdcdc;
	--bg-gray: #f7f7f7;
}
